flows.json
[{"id":"3fd8e8c3.e5f018","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c1ae11c7.c8c5a","type":"ibmiot in","z":"3fd8e8c3.e5f018","authentication":"apiKey","apiKey":"4c31dab1.3024a4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"respberry","eventType":"event_1","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":70,"y":100,"wires":[["b04e98f7.ff0218","8302c3d4.3c9ec"]]},{"id":"b04e98f7.ff0218","type":"debug","z":"3fd8e8c3.e5f018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"8302c3d4.3c9ec","type":"function","z":"3fd8e8c3.e5f018","name":"flow","func":"global.set('flow',msg.payload.flow)\nmsg.payload=msg.payload.flow\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":180,"wires":[["b04e98f7.ff0218","2ced9833.5d9a58","ca89f779.5c3438","fd9b3130.8c417"]]},{"id":"2ced9833.5d9a58","type":"ui_gauge","z":"3fd8e8c3.e5f018","name":"","group":"1519db5.0294225","order":0,"width":0,"height":0,"gtype":"gage","title":"flow","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":180,"wires":[]},{"id":"ca89f779.5c3438","type":"switch","z":"3fd8e8c3.e5f018","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"num"},{"t":"gte","v":"50","vt":"num"},{"t":"gte","v":"90","vt":"num"},{"t":"lte","v":"19","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":280,"wires":[["7415519e.70f78"],["b7fe34e9.68fd28"],["2dc5c25b.53593e"],["a3c52fc5.10ea5"]]},{"id":"7415519e.70f78","type":"function","z":"3fd8e8c3.e5f018","name":">=20","func":"msg.payload=\"Your water consumption is above 20 liters per month so please pay 500.RS\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":240,"wires":[["7ceaac54.9bd5d4"]]},{"id":"b7fe34e9.68fd28","type":"function","z":"3fd8e8c3.e5f018","name":">=50","func":"msg.payload=\"Your water consumption is above 50 liters per month so please pay 800.RS\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":300,"wires":[["7ceaac54.9bd5d4"]]},{"id":"2dc5c25b.53593e","type":"function","z":"3fd8e8c3.e5f018","name":">=90","func":"msg.payload=\"Your water consumption is above 90 liters per month so please pay 1000.RS\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":380,"wires":[["7ceaac54.9bd5d4"]]},{"id":"7ceaac54.9bd5d4","type":"ui_text","z":"3fd8e8c3.e5f018","group":"5d5dbf49.2fe1c","order":0,"width":0,"height":0,"name":"","label":"BILLING STATUS","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":300,"wires":[]},{"id":"a3c52fc5.10ea5","type":"function","z":"3fd8e8c3.e5f018","name":"<=19","func":"msg.payload=\"Your water consumption is below 19 liters per month so please pay 100.RS\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":480,"wires":[["7ceaac54.9bd5d4"]]},{"id":"fd9b3130.8c417","type":"switch","z":"3fd8e8c3.e5f018","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":600,"wires":[["4273c1b1.7fd4a"]]},{"id":"4273c1b1.7fd4a","type":"http request","z":"3fd8e8c3.e5f018","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=RcIXU7uQ3HSYPhaeWLf0JkoGmbsF6w2rl9KAMtDqg5xTz48dBpn0kS7eNGOyZEdfwDKJQa8CXzLFPqR5&sender_id=FSTSMS&message=your water consumption is above 80 liters per month.so please pay 1000.Rs immediately.....&language=english&route=p&numbers=9494711159","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":600,"wires":[[]]},{"id":"2706eb2b.b07824","type":"function","z":"3fd8e8c3.e5f018","name":"Liters Per Month","func":"msg.payload={\"liters per month\":global.get(\"flow\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":660,"wires":[["aed140b1.ccc79"]]},{"id":"bd0575a3.175018","type":"http in","z":"3fd8e8c3.e5f018","name":"web","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":180,"y":640,"wires":[["2706eb2b.b07824"]]},{"id":"aed140b1.ccc79","type":"http response","z":"3fd8e8c3.e5f018","name":"","statusCode":"","headers":{},"x":590,"y":660,"wires":[]},{"id":"4c31dab1.3024a4","type":"ibmiot","z":"","name":"api key","keepalive":"60","serverName":"b8rku8.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1519db5.0294225","type":"ui_group","z":"","name":"flow","tab":"54da3f9f.96e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d5dbf49.2fe1c","type":"ui_group","z":"","name":"Billing Status","tab":"54da3f9f.96e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"54da3f9f.96e8","type":"ui_tab","z":"","name":"smart billing system","icon":"dashboard","disabled":false,"hidden":false}]